@media (max-width: 1000px) {
  .search-bar {
    display: block;
  }
  .search-bar i {
    color: var(--white-color);
    font-size: 25px;
  }
  .search {
    display: none;
  }
  .search.active {
    display: block;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--footer-color);
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .search.active input {
    width: 80%;
  }
  .footer-card .card3 {
    margin: 0;
  }
}
@media (max-width: 800px) {
  .navlinks {
    display: none;
  }
  .header .container .navlinks.active {
    display: block;
    position: absolute;
    top: 25%;
    background: var(--footer-color);
    width: 100%;
    margin-left: -38px;
  }
  .header .container .navlinks.active ul {
    display: flex;
    flex-direction: column;
  }
  .header .container .navlinks.active ul li {
    line-height: 4rem;
  }
  .navicons .toggle-bar {
    display: block;
  }
  .navicons .toggle-bar img {
    width: 30px;
    height: 30px;
    margin-left: 8px;
  }
  .banner {
    margin: 8px;
  }
  .banner .container .text-btn-area {
    width: 100%;
  }
  .banner .container .text-btn-area h2 {
    font-size: 30px;
  }
  .banner .container .image-area {
    display: none;
  }
  .our-service-area-1 .container {
    grid-template-columns: 1fr;
  }
  .service-card {
    grid-template-columns: 1fr;
  }
  .our-service-area-2 {
    padding: 20px;
  }
  .our-service-area-2 .container {
    grid-template-columns: 1fr;
  }
  .product-card {
    grid-template-columns: 1fr;
  }
  .team-card {
    grid-template-columns: 1fr;
  }
  .testimotial-card {
    grid-template-columns: 1fr;
  }
  .recently-post-card {
    grid-template-columns: 1fr;
  }
  .footer-card {
    grid-template-columns: 1fr;
  }
  .footer-card .card .about {
    text-align: center;
  }
  .footer-card .card .service {
    text-align: center;
  }
  .footer-card .card3 {
    margin: 0;
  }
  .footer-card .card3 .subscribe .title {
    text-align: center;
  }
  .footer-card .card3 .description {
    text-align: center;
  }
  .footer-card .card3 .subscribe .subscribe-area {
    display: flex;
    justify-content: center;
    float: left;
    margin-left: 15%;
  }
  .subscribe-area .subscribe-input {
    width: 100%;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    float: left;
    margin-left: 25%;
  }
}
